In [8]:
import pandas as pd
#import matplotlib.pyplot as plt
#import matplotlib.dates as mdates
import numpy as np
#from datetime import datetime
#from datetime import date

In [9]:
df = pd.read_csv('BarTools26Jan22.csv')
df = df.dropna(how="all",axis=1)
#df.head()

In [10]:
df = df.drop(columns=['Category','StockValue','VolumeOnHand','Available','OnOrder','InTransit','Allocated','Status','Unit','PriceTier1','PriceTier2','PriceTier3'])
df.head()

             SKU                ProductName         Location  OnHand
0  1234500000000      12/24 Mixing Tin Sets          Airport     0.0
1  1234500000000      12/24 Mixing Tin Sets  Pleasant Valley     0.0
2  1234500000001          16oz Mixing Glass          Airport     0.0
3       12301230  Absinthe 4 Leg Brouilleur          Airport     0.0
4       12301230  Absinthe 4 Leg Brouilleur  Pleasant Valley     0.0

In [14]:
pivot = df.pivot(index='ProductName',columns='Location',values='OnHand')
pivot.to_csv('BarToolPivot.csv')
pivot

Location,Airport,Oak Hill,Pleasant Valley,Warehouse
ProductName,,,,
12/24 Mixing Tin Sets,0.0,NaN,0.0,NaN
16oz Mixing Glass,0.0,NaN,NaN,NaN
Absinthe 4 Leg Brouilleur,0.0,NaN,0.0,NaN
Absinthe Brouilleur 3 Hole,2.0,3.0,1.0,NaN
Absinthe Fountain 2 Spout,0.0,NaN,0.0,NaN
...,...,...,...,...
Viski Teardrop Barspoon 40cm Black,21.0,9.0,19.0,NaN
Viski Teardrop Barspoon 40cm Copper,36.0,12.0,43.0,0.0
Viski Teardrop Barspoon 40cm Gold,22.0,11.0,28.0,NaN
Viski Teardrop Barspoon 40cm Stainless,21.0,20.0,44.0,7.0
Viski Trident Barspoon 40cm Stainless,1.0,NaN,7.0,NaN

In [15]:
#expand to include pars?