In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
#import matplotlib.dates as mdates
import numpy as np
from datetime import datetime
from datetime import date

In [2]:
store = 'Pleasant Valley' #MUST BE DONE MANUALLY

#transfer = pd.read_csv('inputs/StockTransferOrderLines.csv',header=0,dtype=str)
transfer = pd.read_csv('inputs/StockTransferLines.csv',header=0,dtype=str)

pars = pd.read_csv('inputs/StockReorderlocations_2022-10-04.csv',header=0,dtype=str)

In [3]:
pars = pars[pars.Location == store] #MUST BE DONE MANUALLY
pars.head(2)

,Action,ProductSKU,ProductName,Location,MinimumBeforeReorder,ReorderQuantity,StockLocator,PickZones
1,Create/Update,086785024684,Drumshanbo Irish Gin 375ml,Pleasant Valley,4.0000,12.0000,NaN,NaN
3,Create/Update,00850030152466,DEHY Grapefruit Jar,Pleasant Valley,2.0000,12.0000,NaN,NaN

In [4]:
transfer.rename(columns={'SKU':'ProductSKU'},inplace=True)
transfer.drop(columns=['BatchSerialNumber','ExpiryDate_YYYYMMDD'],inplace=True)
transfer.head(2)

,ProductSKU,Name,Transfer Quantity,Comments,Location
0,5060093991710,6 O'clock Sloe Gin 750ml,2,NaN,Warehouse
1,860076000317,Amass Dry Gin 750ml,1,NaN,Warehouse

In [5]:
creation = pars.merge(transfer,on='ProductSKU', how='right')#.drop_duplicates(keep='first')
#creation.head()

In [6]:
creation.ProductName = creation.Name
creation.Action = 'Create/Update'
creation.Location_x = store
creation.drop(columns=['Name','Transfer Quantity','Comments','Location_y'],inplace=True) #might have to rename quantity
creation.head(3)

,Action,ProductSKU,ProductName,Location_x,MinimumBeforeReorder,ReorderQuantity,StockLocator,PickZones
0,Create/Update,5060093991710,6 O'clock Sloe Gin 750ml,Pleasant Valley,NaN,NaN,NaN,NaN
1,Create/Update,860076000317,Amass Dry Gin 750ml,Pleasant Valley,NaN,NaN,NaN,NaN
2,Create/Update,850047003003,Angels Envy Bourbon 750ml,Pleasant Valley,2.0000,6.0000,NaN,NaN

## Very Important Assertion!

In [7]:
creation.columns == pars.columns

array([ True,  True,  True, False,  True,  True,  True,  True])

In [8]:
creation.to_csv('outputs/ParsFromTransfer.csv',index=False)