In [75]:
import pandas as pd
#import matplotlib.pyplot as plt
#import matplotlib.dates as mdates
import numpy as np
#from datetime import datetime
#from datetime import date

In [76]:
read_pars = pd.read_csv('StockReorderlocations_2022-01-21.csv',header=0,dtype=str)#parse_dates
read_pars.rename(columns={'ProductSKU':'SKU','MinimumBeforeReorder':'Par'},inplace=True)
read_pars.drop(['StockLocator','PickZones'],inplace=True,axis=1)
read_pars.Par = read_pars.Par.astype(float)
read_pars.Par = read_pars.Par.astype(int)
read_pars.ReorderQuantity = read_pars.ReorderQuantity.astype(float)
read_pars.ReorderQuantity = read_pars.ReorderQuantity.astype(int)
read_pars = read_pars.drop(columns=['Action','ReorderQuantity'])
read_pars.head()

            SKU                 ProductName         Location  Par
0  086785024684  Drumshanbo Irish Gin 375ml         Oak Hill    1
1  086785024684  Drumshanbo Irish Gin 375ml  Pleasant Valley    4
2  086785024684  Drumshanbo Irish Gin 375ml          Airport    1
3  786992000609  Chairmans Spiced Rum 750ml        Warehouse    4
4  786992000609  Chairmans Spiced Rum 750ml         Oak Hill    2

In [77]:
df = pd.read_csv('AvailabilityReport_2022-01-26.csv')
df.head(2)

,Category,SKU,ProductName,Location,Bin,BatchSerialNumber,ExpiryDate,Discount,StockValue,OnHand,...,Allocated,Status,Unit,Family,StockLocator,Brand,PriceTier1,PriceTier2,PriceTier3,NextDeliveryDate
0,Non Alcoholic Beverage,777823111113,1 Water 355ml,Airport,NaN,NaN,NaN,NaN,24.1995,123.0,...,0.0,ACTIVE,Item,NaN,NaN,NaN,1.5,0.95,0.95,NaN
1,Non Alcoholic Beverage,777823111113,1 Water 355ml,Oak Hill,NaN,NaN,NaN,NaN,0.5357,1.0,...,0.0,ACTIVE,Item,NaN,NaN,NaN,1.5,0.95,0.95,NaN

In [78]:
df = df.drop(columns=['Bin','BatchSerialNumber','ExpiryDate','Discount','StockValue','VolumeOnHand','Available','OnOrder','InTransit','Allocated','Status','Unit','Family','StockLocator','Brand','PriceTier1','PriceTier2','PriceTier3','NextDeliveryDate'])
df.head(2)

                 Category           SKU    ProductName  Location  OnHand
0  Non Alcoholic Beverage  777823111113  1 Water 355ml   Airport   123.0
1  Non Alcoholic Beverage  777823111113  1 Water 355ml  Oak Hill     1.0

In [79]:
ans = df.merge(right=read_pars,on=['SKU','ProductName','Location'])
ans.head()

,Category,SKU,ProductName,Location,OnHand,Par
0,Bar Tools,1234500000000,12/24 Mixing Tin Sets,Pleasant Valley,0.0,4
1,Tequila,7503013136221,123 Organic Anejo Tequila 750ml,Warehouse,0.0,2
2,Tequila,7503013136207,123 Organic Blanco Tequila 750ml,Airport,2.0,0
3,Tequila,7503013136207,123 Organic Blanco Tequila 750ml,Oak Hill,1.0,0
4,Tequila,7503013136207,123 Organic Blanco Tequila 750ml,Pleasant Valley,0.0,1

In [93]:
ans['Shy'] = ans.Par - ans.OnHand
print(ans.head(40))
#checkstock = lambda row: 69 if len(ans[(ans.Location == 'Oak Hill') & (ans.ProductName == row.ProductName)].Shy) > 0 else 420
ans['Send'] = np.nan
for i, row in ans.iterrows():
    temp = ans[(ans.Location == 'Oak Hill') & (ans.ProductName == row.ProductName)]
    if len(temp) > 0 and temp.iloc[0].Shy*-1 > row.Shy and row.Shy >0 :
        print(i,'yes')
        if row.Shy <= temp.iloc[0].Shy*-1:
            row.Send = row.Shy
        else:
            row.Send = temp.iloc[0].Shy*-1
        
    #if len(temp) > 0 and row.Shy > 0:
    #    if(row.Shy < temp.iloc[0].OnHand):
    #        print(i,'here ',row.Shy - temp.iloc[0].OnHand)
    #    print(i,row.Shy)
    #    row['Candidate'] = temp.iloc[0].Shy * -1.5
    #else:
    #    print(i,'nope')
    #    row['Candidate'] = np.nan


#ans['Candidate'] = ans.apply(checkstock,axis=1)
ans.head(40)

                    Category            SKU  \
0                  Bar Tools  1234500000000
1                    Tequila  7503013136221
2                    Tequila  7503013136207
3                    Tequila  7503013136207
4                    Tequila  7503013136207
5                    Tequila  7503013136207
6                    Tequila  7503013136214
7                    Tequila  7503013136214
8                    Tequila  7503013136214
9                    Tequila  7503013136214
10                   Bubbles   805300030616
11                   Bubbles   805300030616
12                   Bubbles   805300030616
13  Whiskey Bourbon/American   088004030711
14  Whiskey Bourbon/American   088004030711
15  Whiskey Bourbon/American   088004027971
16  Whiskey Bourbon/American   088004027971
17  Whiskey Bourbon/American   088004027971
18  Whiskey Bourbon/American   088004027971
19  Whiskey Bourbon/American   080660001159
20  Whiskey Bourbon/American   080660001159
21  Whiskey Bourbon/American   080660001159
22  Whiskey Bourbon/American   080660001159
23  Whiskey Bourbon/American   080660001142
24  Whiskey Bourbon/American   080660001142
25  Whiskey Bourbon/American   080660001142
26  Whiskey Bourbon/American   088004042196
27  Whiskey Bourbon/American   080660001203
28  Whiskey Bourbon/American   080660001203
29  Whiskey Bourbon/American   080660001203
30  Whiskey Bourbon/American   080660001166
31  Whiskey Bourbon/American   080660001166
32                   Tequila   811538010146
33                   Tequila   811538010146
34                   Tequila   811538010146
35  Whiskey Bourbon/American   040232625121
36                     Vodka   850010806136
37                     Vodka   850010806136
38                     Vodka   850010806136
39                     Vodka   850010806143

                           ProductName         Location  OnHand  Par   Shy  \
0                12/24 Mixing Tin Sets  Pleasant Valley     0.0    4   4.0
1      123 Organic Anejo Tequila 750ml        Warehouse     0.0    2   2.0
2     123 Organic Blanco Tequila 750ml          Airport     2.0    0  -2.0
3     123 Organic Blanco Tequila 750ml         Oak Hill     1.0    0  -1.0
4     123 Organic Blanco Tequila 750ml  Pleasant Valley     0.0    1   1.0
5     123 Organic Blanco Tequila 750ml        Warehouse     0.0    2   2.0
6   123 Organic Reposado Tequila 750ml          Airport     0.0    0   0.0
7   123 Organic Reposado Tequila 750ml         Oak Hill     1.0    0  -1.0
8   123 Organic Reposado Tequila 750ml  Pleasant Valley     1.0    1   0.0
9   123 Organic Reposado Tequila 750ml        Warehouse     0.0    2   2.0
10         17/24 Metodo Classico 750ml          Airport     2.0    2   0.0
11         17/24 Metodo Classico 750ml         Oak Hill     6.0    2  -4.0
12         17/24 Metodo Classico 750ml  Pleasant Valley     6.0    2  -4.0
13                      1792 12y 750ml  Pleasant Valley     3.0    2  -1.0
14                      1792 12y 750ml        Warehouse     6.0    2  -4.0
15          1792 Bottled In Bond 750ml          Airport     0.0    2   2.0
16          1792 Bottled In Bond 750ml         Oak Hill     0.0    2   2.0
17          1792 Bottled In Bond 750ml  Pleasant Valley     0.0    2   2.0
18          1792 Bottled In Bond 750ml        Warehouse     3.0    2  -1.0
19               1792 Full Proof 750ml          Airport     6.0    1  -5.0
20               1792 Full Proof 750ml         Oak Hill     0.0    1   1.0
21               1792 Full Proof 750ml  Pleasant Valley     0.0    1   1.0
22               1792 Full Proof 750ml        Warehouse     6.0    1  -5.0
23            1792 Single Barrel 750ml          Airport     0.0    1   1.0
24            1792 Single Barrel 750ml         Oak Hill     0.0    1   1.0
25            1792 Single Barrel 750ml  Pleasant Valley     0.0    1   1.0
26         1792 Small Batch Bourbon 1L        Warehouse    46.0   18 -28.0
27      1792 Small Batch Bourbon 750ml          Airport    13.0    2 -11.0
28      1792 Small Batch Bourbon 750ml         Oak Hill     6.0    2  -4.0
29      1792 Small Batch Bourbon 750ml  Pleasant Valley     4.0    2  -2.0
30              1792 Sweet Wheat 750ml  Pleasant Valley     3.0    2  -1.0
31              1792 Sweet Wheat 750ml        Warehouse     8.0    2  -6.0
32                      1800 Blanco 1L          Airport     7.0    1  -6.0
33                      1800 Blanco 1L         Oak Hill     5.0    1  -4.0
34                      1800 Blanco 1L  Pleasant Valley     3.0    3   0.0
35         1876 Straight Bourbon 750ml  Pleasant Valley     0.0   24  24.0
36                     1876 Vodka 175L          Airport     1.0    3   2.0
37                     1876 Vodka 175L         Oak Hill     6.0    2  -4.0
38                     1876 Vodka 175L  Pleasant Valley    20.0   20   0.0
39                       1876 Vodka 1L          Airport     4.0    4   0.0

    Candidate  Send
0         NaN   NaN
1         NaN   NaN
2         NaN   NaN
3         NaN   NaN
4         NaN   NaN
5         NaN   NaN
6         NaN   NaN
7         NaN   NaN
8         NaN   NaN
9         NaN   NaN
10        NaN   NaN
11        NaN   NaN
12        NaN   NaN
13        NaN   NaN
14        NaN   NaN
15        NaN   NaN
16        NaN   NaN
17        NaN   NaN
18        NaN   NaN
19        NaN   NaN
20        NaN   NaN
21        NaN   NaN
22        NaN   NaN
23        NaN   NaN
24        NaN   NaN
25        NaN   NaN
26        NaN   NaN
27        NaN   NaN
28        NaN   NaN
29        NaN   NaN
30        NaN   NaN
31        NaN   NaN
32        NaN   NaN
33        NaN   NaN
34        NaN   NaN
35        NaN   NaN
36        NaN   NaN
37        NaN   NaN
38        NaN   NaN
39        NaN   NaN
36 yes
60 yes
125 yes
127 yes
128 yes
130 yes
179 yes
181 yes
242 yes
290 yes
336 yes
337 yes
416 yes
443 yes
515 yes
530 yes
536 yes
574 yes
576 yes
577 yes
614 yes
635 yes
680 yes
682 yes
792 yes
817 yes
861 yes
910 yes
926 yes
970 yes
1002 yes
1068 yes
1071 yes
1089 yes
1119 yes
1124 yes
1311 yes
1323 yes
1335 yes
1374 yes
1489 yes
1491 yes
1550 yes
1637 yes
1647 yes
1684 yes
1689 yes
1725 yes
1750 yes
1775 yes
1852 yes
1907 yes
1909 yes
1976 yes
2007 yes
2009 yes
2025 yes
2034 yes
2040 yes
2120 yes
2122 yes
2191 yes
2193 yes
2219 yes
2227 yes
2233 yes
2234 yes
2271 yes
2273 yes
2333 yes
2342 yes
2356 yes
2365 yes
2414 yes
2438 yes
2451 yes
2523 yes
2583 yes
2592 yes
2593 yes
2629 yes
2631 yes
2632 yes
2635 yes
2637 yes
2681 yes
2684 yes
2688 yes
2693 yes
2694 yes
2696 yes
2718 yes
2722 yes
2751 yes
2753 yes
2754 yes
2845 yes
2851 yes
2899 yes
2928 yes
2945 yes
2947 yes
2965 yes
2966 yes
2972 yes
2993 yes
3081 yes
3098 yes
3109 yes
3165 yes
3173 yes
3217 yes
3234 yes
3255 yes
3266 yes
3268 yes
3286 yes
3307 yes
3312 yes
3323 yes
3327 yes
3373 yes
3382 yes
3405 yes
3410 yes
3412 yes
3441 yes
3515 yes
3531 yes
3533 yes
3584 yes
3587 yes
3589 yes
3607 yes
3609 yes
3613 yes
3639 yes
3641 yes
3675 yes
3855 yes
3869 yes
3871 yes
3873 yes
3898 yes
3932 yes
3934 yes
3935 yes
3937 yes
3938 yes
3940 yes
3979 yes
3981 yes
3982 yes
3984 yes
4000 yes
4002 yes
4003 yes
4017 yes
4020 yes
4030 yes
4033 yes
4044 yes
4046 yes
4136 yes
4163 yes
4174 yes
4189 yes
4191 yes
4193 yes
4197 yes
4201 yes
4203 yes
4209 yes
4211 yes
4232 yes
4236 yes
4238 yes
4239 yes
4241 yes
4242 yes
4251 yes
4257 yes
4265 yes
4283 yes
4311 yes
4316 yes
4318 yes
4332 yes
4381 yes
4383 yes
4384 yes
4525 yes
4537 yes
4556 yes
4558 yes
4670 yes
4722 yes
4725 yes
4793 yes
4801 yes
4804 yes
4926 yes
4942 yes
5013 yes
5027 yes
5034 yes
5101 yes
5160 yes
5162 yes
5165 yes
5169 yes
5301 yes
5311 yes
5314 yes
5376 yes
5380 yes
5466 yes
5495 yes
5499 yes
5501 yes
5574 yes
5576 yes
5577 yes
5603 yes
5620 yes
5645 yes
5765 yes
5774 yes
5781 yes
5814 yes
5835 yes
5861 yes
5877 yes
6021 yes
6043 yes
6045 yes
6056 yes
6068 yes
6096 yes
6134 yes
6135 yes
6140 yes
6146 yes
6147 yes
6171 yes
6175 yes

6243 yes
6245 yes
6246 yes
6248 yes
6295 yes
6305 yes
6350 yes
6355 yes
6382 yes
6386 yes
6399 yes
6401 yes
6444 yes
6459 yes
6494 yes
6536 yes
6622 yes
6655 yes
6657 yes
6692 yes
6714 yes
6716 yes
6719 yes
6754 yes
6839 yes
6857 yes
6859 yes
6897 yes
6899 yes
6912 yes
6919 yes
6933 yes
6943 yes
6991 yes
6998 yes
7030 yes
7032 yes
7033 yes
7040 yes
7106 yes
7120 yes
7156 yes
7195 yes
7255 yes
7365 yes
7382 yes
7398 yes
7400 yes
7414 yes
7416 yes
7418 yes
7430 yes
7432 yes
7497 yes
7533 yes
7586 yes
7599 yes
7608 yes
7637 yes
7644 yes
7646 yes
7649 yes
7718 yes
7768 yes
7791 yes
7800 yes
7911 yes
7929 yes
7931 yes
7932 yes
8041 yes
8052 yes
8079 yes
8084 yes
8086 yes
8091 yes
8126 yes
8175 yes
8187 yes
8189 yes
8199 yes
8201 yes
8232 yes
8279 yes
8286 yes
8288 yes
8298 yes
8428 yes
8445 yes
8479 yes
8499 yes
8501 yes
8506 yes
8508 yes
8546 yes
8579 yes
8581 yes
8582 yes
8603 yes
8660 yes
8671 yes
8700 yes
8729 yes
8740 yes
8752 yes
8780 yes
8827 yes
8856 yes
8859 yes
8892 yes
8895 yes
8902 yes
8903 yes
8921 yes
8945 yes
8956 yes
8958 yes
8975 yes
8983 yes
8985 yes
9030 yes
9044 yes
9045 yes
9047 yes
9067 yes
9208 yes
9287 yes
9292 yes
9315 yes
9317 yes
9384 yes
9410 yes
9450 yes
9507 yes
9511 yes
9520 yes
9522 yes
9555 yes
9570 yes
9647 yes
9649 yes
9651 yes
9658 yes
9699 yes
9705 yes
9710 yes
9712 yes
9715 yes
9719 yes
9723 yes
9727 yes
9801 yes
9810 yes
9843 yes
9899 yes
9911 yes
9916 yes
9918 yes
9985 yes
10018 yes
10020 yes
10063 yes
10180 yes
10192 yes
10248 yes
10299 yes
10303 yes
10306 yes
10308 yes
10312 yes
10314 yes
10320 yes
10373 yes
10381 yes
10388 yes
10408 yes
10462 yes
10492 yes
10509 yes
10516 yes
10588 yes
10620 yes
10692 yes
10696 yes
10700 yes
10733 yes
10742 yes
10797 yes
10812 yes
10817 yes
10819 yes
10828 yes
10830 yes
10871 yes
10874 yes
10877 yes
10999 yes
11001 yes
11012 yes
11055 yes
11057 yes
11086 yes
11134 yes
11135 yes
11137 yes
11155 yes
11161 yes
11243 yes

,Category,SKU,ProductName,Location,OnHand,Par,Shy,Candidate,Send
0,Bar Tools,1234500000000,12/24 Mixing Tin Sets,Pleasant Valley,0.0,4,4.0,NaN,NaN
1,Tequila,7503013136221,123 Organic Anejo Tequila 750ml,Warehouse,0.0,2,2.0,NaN,NaN
2,Tequila,7503013136207,123 Organic Blanco Tequila 750ml,Airport,2.0,0,-2.0,NaN,NaN
3,Tequila,7503013136207,123 Organic Blanco Tequila 750ml,Oak Hill,1.0,0,-1.0,NaN,NaN
4,Tequila,7503013136207,123 Organic Blanco Tequila 750ml,Pleasant Valley,0.0,1,1.0,NaN,NaN
5,Tequila,7503013136207,123 Organic Blanco Tequila 750ml,Warehouse,0.0,2,2.0,NaN,NaN
6,Tequila,7503013136214,123 Organic Reposado Tequila 750ml,Airport,0.0,0,0.0,NaN,NaN
7,Tequila,7503013136214,123 Organic Reposado Tequila 750ml,Oak Hill,1.0,0,-1.0,NaN,NaN
8,Tequila,7503013136214,123 Organic Reposado Tequila 750ml,Pleasant Valley,1.0,1,0.0,NaN,NaN
9,Tequila,7503013136214,123 Organic Reposado Tequila 750ml,Warehouse,0.0,2,2.0,NaN,NaN
10,Bubbles,805300030616,17/24 Metodo Classico 750ml,Airport,2.0,2,0.0,NaN,NaN
11,Bubbles,805300030616,17/24 Metodo Classico 750ml,Oak Hill,6.0,2,-4.0,NaN,NaN
12,Bubbles,805300030616,17/24 Metodo Classico 750ml,Pleasant Valley,6.0,2,-4.0,NaN,NaN
13,Whiskey Bourbon/American,088004030711,1792 12y 750ml,Pleasant Valley,3.0,2,-1.0,NaN,NaN
14,Whiskey Bourbon/American,088004030711,1792 12y 750ml,Warehouse,6.0,2,-4.0,NaN,NaN
15,Whiskey Bourbon/American,088004027971,1792 Bottled In Bond 750ml,Airport,0.0,2,2.0,NaN,NaN
16,Whiskey Bourbon/American,088004027971,1792 Bottled In Bond 750ml,Oak Hill,0.0,2,2.0,NaN,NaN
17,Whiskey Bourbon/American,088004027971,1792 Bottled In Bond 750ml,Pleasant Valley,0.0,2,2.0,NaN,NaN
18,Whiskey Bourbon/American,088004027971,1792 Bottled In Bond 750ml,Warehouse,3.0,2,-1.0,NaN,NaN
19,Whiskey Bourbon/American,080660001159,1792 Full Proof 750ml,Airport,6.0,1,-5.0,NaN,NaN
20,Whiskey Bourbon/American,080660001159,1792 Full Proof 750ml,Oak Hill,0.0,1,1.0,NaN,NaN
21,Whiskey Bourbon/American,080660001159,1792 Full Proof 750ml,Pleasant Valley,0.0,1,1.0,NaN,NaN
22,Whiskey Bourbon/American,080660001159,1792 Full Proof 750ml,Warehouse,6.0,1,-5.0,NaN,NaN
23,Whiskey Bourbon/American,080660001142,1792 Single Barrel 750ml,Airport,0.0,1,1.0,NaN,NaN
24,Whiskey Bourbon/American,080660001142,1792 Single Barrel 750ml,Oak Hill,0.0,1,1.0,NaN,NaN
25,Whiskey Bourbon/American,080660001142,1792 Single Barrel 750ml,Pleasant Valley,0.0,1,1.0,NaN,NaN
26,Whiskey Bourbon/American,088004042196,1792 Small Batch Bourbon 1L,Warehouse,46.0,18,-28.0,NaN,NaN
27,Whiskey Bourbon/American,080660001203,1792 Small Batch Bourbon 750ml,Airport,13.0,2,-11.0,NaN,NaN
28,Whiskey Bourbon/American,080660001203,1792 Small Batch Bourbon 750ml,Oak Hill,6.0,2,-4.0,NaN,NaN
29,Whiskey Bourbon/American,080660001203,1792 Small Batch Bourbon 750ml,Pleasant Valley,4.0,2,-2.0,NaN,NaN
30,Whiskey Bourbon/American,080660001166,1792 Sweet Wheat 750ml,Pleasant Valley,3.0,2,-1.0,NaN,NaN
31,Whiskey Bourbon/American,080660001166,1792 Sweet Wheat 750ml,Warehouse,8.0,2,-6.0,NaN,NaN
32,Tequila,811538010146,1800 Blanco 1L,Airport,7.0,1,-6.0,NaN,NaN
33,Tequila,811538010146,1800 Blanco 1L,Oak Hill,5.0,1,-4.0,NaN,NaN
34,Tequila,811538010146,1800 Blanco 1L,Pleasant Valley,3.0,3,0.0,NaN,NaN
35,Whiskey Bourbon/American,040232625121,1876 Straight Bourbon 750ml,Pleasant Valley,0.0,24,24.0,NaN,NaN
36,Vodka,850010806136,1876 Vodka 175L,Airport,1.0,3,2.0,NaN,NaN
37,Vodka,850010806136,1876 Vodka 175L,Oak Hill,6.0,2,-4.0,NaN,NaN
38,Vodka,850010806136,1876 Vodka 175L,Pleasant Valley,20.0,20,0.0,NaN,NaN
39,Vodka,850010806143,1876 Vodka 1L,Airport,4.0,4,0.0,NaN,NaN

In [81]:
#piv = ans.pivot(index='ProductName',columns='Location',values='OnHand')
#piv